<div class="container-fluid">
  <section class="hero">
    <div class="row position-relative ">
      <div class="col">
        <ng-container *ngIf="allowDownload">
          <a href="https://firebasestorage.googleapis.com/v0/b/portfolio-3db7c.appspot.com/o/CV%20-%202021.pdf?alt=media&token=a17f9877-7752-4e26-9032-641a940c6fef" title="Download CV" download target="_blank" class="btn btn-rounded btn-outline-primary btn-download-cv position-absolute">
            Resume
          </a>
        </ng-container>
        <div class="banner d-flex flex-column align-items-center justify-content-center text-center position-relative">
          <div class="banner-bg position-absolute">
            <span class="bg-text noselect">Hello</span>
          </div>
          <div class="banner-content w-100 position-relative">
            <h1 class="mt-5">I'm Yunfei Li</h1>
            <h2 class="text-capitalize mt-3 mb-3">Web designer &amp; frontend developer</h2>
            <span class="sparks sparks-plus orange">
              <svg width="27px" height="27px" viewBox="0 0 27 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                  <linearGradient x1="83.9255745%" y1="17.5612842%" x2="16.0744255%" y2="85.4124333%" id="linearGradient-orange">
                    <stop stop-color="#FFCB98" offset="0%"></stop>
                    <stop stop-color="#FF8080" offset="100%"></stop>
                  </linearGradient>
                </defs>
                <g id="cross-orange" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="cross-orange-gradient" transform="translate(-282.000000, -265.000000)" fill="url(#linearGradient-orange)">
                    <polygon id="cross-orange-path" points="281.949747 286.72783 290.044422 278.823838 281.949747 270.919281 287.346535 265.649435 295.440921 273.553992 303.535451 265.649435 308.932094 270.919281 300.837708 278.823838 308.932094 286.72783 303.535451 291.997393 295.440921 284.093401 287.346535 291.997393"></polygon>
                  </g>
                </g>
              </svg>
            </span>
            <span class="sparks sparks-plus pink">
              <svg width="27px" height="26px" viewBox="0 0 27 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                  <linearGradient x1="50%" y1="3.50885116%" x2="50%" y2="98.3902144%" id="linearGradient-pink">
                    <stop stop-color="#FF7678" offset="0%"></stop>
                    <stop stop-color="#FF7DC8" offset="100%"></stop>
                  </linearGradient>
                </defs>
                <g id="cross-pink" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="cross-pink-gradient" transform="translate(-927.000000, -379.000000)" fill="url(#linearGradient-pink)">
                    <polygon id="cross-pink-path" points="927 399.800028 935.099971 392.000419 927 384.200251 932.400319 379 940.5 386.800167 948.599826 379 954 384.200251 945.900319 392.000419 954 399.800028 948.599826 405 940.5 397.200391 932.400319 405"></polygon>
                  </g>
                </g>
              </svg>
            </span>
            <span class="sparks sparks-plus light-blue">
              <svg width="27px" height="26px" viewBox="0 0 27 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                  <linearGradient x1="101.499999%" y1="-0.499999523%" x2="0.499999523%" y2="101.499999%" id="linearGradient-blue">
                    <stop stop-color="#48B7F1" offset="0%"></stop>
                    <stop stop-color="#94DAFF" offset="100%"></stop>
                  </linearGradient>
                </defs>
                <g id="cross-blue" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="cross-blue-gradient" transform="translate(-1136.000000, -207.000000)" fill="url(#linearGradient-blue)">
                    <polygon id="cross-blue-path" points="1136 227.800028 1144.09997 220.000419 1136 212.200251 1141.40032 207 1149.5 214.800167 1157.59983 207 1163 212.200251 1154.90032 220.000419 1163 227.800028 1157.59983 233 1149.5 225.200391 1141.40032 233"></polygon>
                  </g>
                </g>
              </svg>
            </span>
            <span class="sparks sparks-circle light-blue">
              <svg width="27px" height="28px" viewBox="0 0 27 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                  <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-blue">
                    <stop stop-color="#A0FED0" offset="0%"></stop>
                    <stop stop-color="#93D1FD" offset="100%"></stop>
                  </linearGradient>
                </defs>
                <g id="circle-blue" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="circle-blue-gradient" transform="translate(-440.000000, -329.000000)" fill="url(#linearGradient-blue)">
                    <path d="M453.5,357 C446.044156,357 440,350.731986 440,343 C440,335.268014 446.044156,329 453.5,329 C460.955844,329 467,335.268014 467,343 C467,350.731986 460.955844,357 453.5,357 Z M453.5,352.333333 C458.470563,352.333333 462.5,348.154658 462.5,343 C462.5,337.845342 458.470563,333.666667 453.5,333.666667 C448.529437,333.666667 444.5,337.845342 444.5,343 C444.5,348.154658 448.529437,352.333333 453.5,352.333333 Z"
                      id="circle-blue-path"></path>
                  </g>
                </g>
              </svg>
            </span>
            <span class="sparks sparks-triangle purple">
              <svg width="35px" height="34px" viewBox="0 0 35 34" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                  <linearGradient x1="73.9890038%" y1="9.93668535%" x2="26.0109962%" y2="93.0370321%" id="linearGradient-purple">
                    <stop stop-color="#ED84FF" offset="0%"></stop>
                    <stop stop-color="#A677FD" offset="100%"></stop>
                  </linearGradient>
                </defs>
                <g id="triangle-purple" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="triangle-purple-gradient" transform="translate(-634.000000, -331.000000)" fill="url(#linearGradient-purple)">
                    <polygon id="triangle-purple-path" points="651.345794 331 668.691588 364.875946 634 364.875946"></polygon>
                  </g>
                </g>
              </svg>
            </span>
            <span class="sparks sparks-square yellow">
              <svg width="27px" height="28px" viewBox="0 0 27 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                  <linearGradient x1="3.25429004%" y1="3.22238527%" x2="101.999998%" y2="100.999999%" id="linearGradient-yellow">
                    <stop stop-color="#FFD56A" offset="0%"></stop>
                    <stop stop-color="#FFF793" offset="100%"></stop>
                  </linearGradient>
                </defs>
                <g id="square-yellow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="square-yellow-gradient" transform="translate(-715.000000, -276.000000)" fill="url(#linearGradient-yellow)">
                    <path d="M715,276 L742,276 L742,304 L715,304 L715,276 Z M719.5,280.666667 L719.5,299.333333 L737.5,299.333333 L737.5,280.666667 L719.5,280.666667 Z"
                      id="square-yellow-path"></path>
                  </g>
                </g>
              </svg>
            </span>
          </div>
          <div class="banner-cta mt-5">
            <p class="text-capitalize text-gradient-primary font-weight-bold">Design, creative, technology</p>
            <button class="btn btn-rounded btn-primary btn-ripple px-5 mt-3" (click)="contactMe()">
              <span>Contact me</span>
              <div class="rippleJS fill"></div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
