@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";

// @include media-breakpoint-up(sm) {
//     h2 {
//         font-size: 30px;
//     }
// }
// @include media-breakpoint-up(md) {
//     h2 {
//         font-size: 30px;
//     }
// }
// @include media-breakpoint-up(lg) {
//     h2 {
//         font-size: 30px;
//     }
// }
// @include media-breakpoint-up(xl) {
//     h2 {
//         font-size: 30px;
//     }
// }



// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {}

@import "../../assets/scss/variables";

.btn-download-cv {
    min-width: 120px;
    z-index: 3;
    top: 3em;
    left: 3em;
}
.banner {
    height: calc(100vh - 2em);
    padding: 1em;
    @media (min-width: 992px) {
        padding: 3em;
    }
    &-bg {
        z-index: 0;
        .bg-text {
            font-size: 30vw;
            font-weight: bold;
            color: #F9F9F9;
            pointer-events: none;
        }
    }
    &-content, &-cta {
        z-index: 0;
    }
    &-content {
        h1 {
            font-size: 42px;
            @include media-breakpoint-up(md) {
                font-size: 84px;
            }
            font-weight: bold;
            color: $blue;
        }
        h2 {
            font-size: 22px;
            @include media-breakpoint-up(md) {
                font-size: 42px;
            }
            font-weight: lighter;
            color: #9B9B9B;
        }
    }
}

.text-gradient-primary {
    background-image: -webkit-linear-gradient(left, #C86DD7,  $blue); /* For Chrome and Safari */
    background-image: -moz-linear-gradient(left, #C86DD7,  $blue); /* For old Fx (3.6 to 15) */
    background-image: -ms-linear-gradient(left, #C86DD7,  $blue); /* For pre-releases of IE 10*/
    background-image: -o-linear-gradient(left, #C86DD7,  $blue); /* For old Opera (11.1 to 12.0) */
    background-image: linear-gradient(to right, $blue, #C86DD7); /* Standard syntax; must be last */
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.sparks {
    position: absolute;
    z-index: -1;
    &-plus {
        &.orange {
            top: 45px;
            left: 20%;
        }
        &.pink {
            bottom: 60px;
            right: 35%;
        }
        &.light-blue {
            top: 20px;
            right: 15%;
        }
    }
    &-circle {
        &.light-blue {
            top: 100px;
            left: 33%;
        }
    }
    &-square {
        &.yellow {
            left: 50%;
            top: 55px;
        }
    }
    &-triangle {
        &.purple {
            left: 45%;
            top: 110px;
            transform: scale(0.7,0.7) rotate(20deg);
        }
    }
}